@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  background-color: #333;
  font-family: "Poppins";
}

hr {
  width: 15%;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e1b723;
  opacity: 100%;
}

.navbar-custom {
  background-color: #222;
  color: #fff;
}

.main {
  margin-top: 75px;
}

.main .title {
  color: #fff;
  font-weight: bold;
  font-size: 78px;
}

.main .text {
  color: #fff;
  margin: 25px;
  font-weight: lighter;
  font-size: 32px;
}

.section {
  margin-top: 100px;
  padding: 20px;
}

.section .title {
  color: #fff;
  font-weight: bold;
  font-size: 74px;
}

.section .text {
  color: #fff;
  margin: 25px;
  font-weight: lighter;
  font-size: 24px;
}

.card {
  cursor: pointer;
  border-radius: 1rem;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;
}

.card:hover {
  transition: transform 0.5s ease 0s;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.markdown-block {
  border-radius: 1rem;
  color: #fff;
  margin: 20px;
  background-color: rgba(20, 20, 20, 15%);
}

.cool-button {
  border-radius: 1rem;
  width: fit-content;
  font-size: 24px;
  color: #fff;
  background-color: #e1b723;
  margin: 0 auto;
  display: block;
}

.cool-button:hover {
  color: #fff;
  transition: transform 0.5s ease 0s;
  transform: scale(1.05);
  background-color: #ba9617;
}
