@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "kwak-font";
  src: url("~/assets/fonts/kwak.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
